.task-details {
	flex: 1 0;
	padding: 20px 26px;
	&__container {
		position: relative;
		padding: 22px 28px;
		background-color: white;
		height: 100%;
		border-radius: 5px;
		h1 {
			font-size: 21px;
			padding-bottom: 35px;
		}
	}
	&__btn-close {
		position: absolute;
		top: 25px;
		right: 25px;
		font-size: 25px;
	}
	&__input-description {
		width: 100%;
		font-size: 18px;
	}
}
