.user-element {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	cursor: pointer;
}
.user-avatar {
	background-color: white;
	border-radius: 50%;
}
.open-modal-btn {
	cursor: pointer;
	will-change: transform;
	transition: transform 0.4s ease-in-out;
	&--active {
		transform: rotate(-180deg);
	}
}
